@import "variable.scss";
@import "mixin.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background: linear-gradient(90deg, $black-arsenic 0%, $black-midnight 100%);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 800px;
  justify-content: center;
  outline: none;
}

.card {
  display: flex;
  flex: 0 1 calc(25% - 12px);
  margin: 3px;
  width: 100%;
  height: 220px;
  background-color: transparent;
  cursor: pointer;
  border-radius: $border-radius-default;
  perspective: 1000px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  @include for-size(phone-only) {
    height: 130px;
  }
}

.card-body,
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: $border-radius-default;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.card-body {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  &.active {
    transform: $rotate-y-default;
    box-shadow: $shadow-default;
  }
  &:hover {
    box-shadow: $shadow-default;
  }
}

.card-front {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: $color-primary;
}

.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-big;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: white;
  transform: $rotate-y-default;
  border: 2px solid $color-primary;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @include for-size(tablet-portrait-up) {
    flex: 0.5;
  }
}

.box {
  display: flex;
}

.btn {
  border-radius: $border-radius-default;
  border: 0;
  padding: 20px 20px;
  width: 200px;
  cursor: pointer;
  outline: none;
  &:hover {
    box-shadow: $shadow-default;
  }
}

.btn-primary {
  background-color: #e74c3c;
  color: $black-midnight;
  font-size: $font-size-default;
  font-weight: bold;
  &:hover {
    opacity: 0.9;
  }
  > span {
    color: $white;
    text-shadow: 1px 1px $black-arsenic;
  }
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.score {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  border-radius: $border-radius-default;
  @include for-size(phone-only) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 10px;
  }
}

.text {
  display: flex;
  @include for-size(phone-only) {
    flex: 0 1 50%;
  }
}

span {
  font-size: 20px;
  color: #ffff;
  @include for-size(phone-only) {
    font-size: 1rem;
  }
}

.show-sm-down {
  display: none;
  @include for-size(phone-only) {
    display: flex;
  }
}

.hidden-sm-up {
  display: none;
  @include for-size(tablet-portrait-up) {
    display: flex;
  }
}

.title {
  min-width: 150px;
  font-weight: bold;
  @include for-size(phone-only) {
    min-width: 110px;
  }
}
