$color-primary: #ffb39d;
$color-secondary: #fe4ac2;
$orange: #e67e22;
$white: #ffffff;
$black-arsenic: #424a52;
$black-midnight: #151c25;
$font-size-default: 16px;
$font-size-big: 34px;
$rotate-y-default: rotateY(180deg);
$border-radius-default: 10px;
$shadow-default: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
